.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .gallery-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
  
  .gallery-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Added filter transition */
  }
  
  .gallery-container:hover img {
    transform: scale(1.1);
    filter: blur(5px); /* Apply blur effect on hover */
  }
  
  .gallery-container h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: opacity 0.3s ease;
    opacity: 0; /* Initially hide the h4 */
  }
  
  .gallery-container:hover h4 {
    opacity: 1; /* Show h4 on hover */
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust padding as needed */
    height: 47px;
    font-size: 25px;
  }
  
  .right-arrow {
    margin-top: -3px; 
  }
  .btn:hover {
    background-color: white;
    color: #212EA0;
    cursor: pointer;
}

  /* -------media query------ */
  
  @media (max-width: 800px) {
    .gallery {
      flex-wrap: wrap;
    }
    .gallery img {
      width: 88%;
      margin-bottom: 25px;
    }
    .right-arrow {
      margin-top: 5px; 
      margin-left: 2px;
    }
  }
  