@media screen and (max-width: 600px) {
    .notfound h1 {
      font-size: 180px;
      margin-top: 150px;
    }
  }
  
  .notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .errorHeading {
    font-weight: 700;
    color: #150048;
    font-size: 280px;
    text-shadow: 3px 3px 5px #443860c7;
  }
  .returnBtn{
    font-size: 20px;
    font-weight: 700;
    color: #150048;
    margin-left: 50vw;
    border: none;
    outline: none;
    background: none;
  }
  @media (max-width: 768px) {
    .returnBtn{
        margin-left: 40vw;
    }
  }