.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
  }.program .box {
    display: flex;
    justify-content: space-between;
    position: absolute; /* Set position relative on the parent */
  }
  .inner-boxes {
    width: 19vw;
    justify-content: space-between;
    margin-right: 12px;
    position: relative;
    background: #f5f5f5;
    border-radius: 15px;
    box-shadow: 2px 4px 6px #7059a7;
    margin-bottom: 20px;
  }
  .inner-boxes img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inner-boxes p {
    margin-left: 20px;
    margin-top: 10px;
  }
  .right-arrow {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
  }
  
  /*-----media query---*/
  
  @media (max-width: 650px) {
    .programs {
      flex-direction: column;
      align-items: center;
    }
    .program {
      flex-basis: 100%;
      margin: 20px auto;
      padding: 0 10px;
      height: auto;
      width: 90%;
      display: flex;
      justify-content: center;
      top: -200px;
    }
    .box {
      flex-direction: column;
      align-items: center;
    }
    .inner-boxes {
      width: 90%;
      margin-bottom: 20px;
      padding: 20px;
    }
    .right-arrow {
      margin: 10px auto;
      font-size: 24px;
    }
  }
  .allPrograms {
    font-family: "Montserrat", sans-serif;
    color: #150048;
  }
  .cartBtn {
    background: #150048;
    color: #f5f5f5;
    border: none;
    outline: none;
    padding: 10px;
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 5px;
  }
  .cartBtn:hover {
    background: #330066;
  }
  .program .box {
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
  }
  .devBtn,
  .redBtn {
    margin-bottom: 10px;
  }