#contact {
  padding: 40px;
  text-align: center;
}

#contact h2 {
  font-size: 35px;
  font-weight: bold;
  color: #150048;
  margin-bottom: 20px;
}
.main-contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.left{
  width: 45vw;
  
}
.contact-col {
  flex: 1;
  padding: 20px;
}

.contact-col h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.contact-col p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}


.adminInfo {
  width: 300px; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.adminInfo ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: block;
  margin-right: 70px;
  margin-top: 20px;
}

.adminInfo li {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin-bottom: 10px; /* Space between each item */
}

.icon {
  margin-right: 20px; /* Space between icon and text */
}

.adminInfo li:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}


.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1em;
  margin-bottom: 5px;
}

.contact-form .contact-input
 {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}
.result-span {
  display: block;
  margin-top: 15px;
  font-size: 1em;
  color: green;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .ul_parent{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  .contact-col {
    padding: 10px;
    width: 100%;
  }
  .main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .left{
    margin-left: 40px;
  }
  
}
.contactBtn{
  background-color: #150048;
  color:   #f5f5f5;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.contactBtn:hover{
  background: #330066;
  font-family: "Montserrat", sans-serif;
}