/* .about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 500px;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
.play-icon{
    width: 60px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.about h3{
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}
.about h2{
    font-size: 35px;
    color: #212121;
    margin: 10px 0 ;
    max-width: 400px;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}



@media(max-width: 800px){
     .about{
        flex-direction: column;
        margin-top: 1400px;
     }
     .about-left{
        flex-basis: 100%;
       
        order: 2;
        
     }
     .about-right{
        flex-basis: 100%;
     }
     .about-img{
        width: 90%;
        height: 300px;
        border-radius: 10px;
    }
} */

.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 500px;
    padding: 25px;
  }
  .about-left {
    flex-basis: 40%;
    position: relative;
  }
  .about-right {
    flex-basis: 56%;
  }
  .about-img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
  }
  .play-icon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  /* 
  .about h2 {
   
  } */
  .about p {
    color: #150048;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
  }
  .aboutChild1 {
    color: #150048;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 10px;
  
    font-size: 35px;
    margin: 10px 0;
    max-width: 400px;
  }
  /*-----media query---*/
  
  @media (max-width: 800px) {
    .about {
      flex-direction: column;
      margin-top: 190vh
      
    }
    .about-left {
      flex-basis: 100%;
  
      order: 2;
    }
    .about-right {
      flex-basis: 100%;
    }
    .about-img {
      width: 90%;
      height: 300px;
      border-radius: 10px;
    }
  }